@import "tailwindcss";

@theme {
  --color-fog-grey-1: #b8c3c5;
  --color-fog-grey-2: #819193;
  --color-blue-1: #0e566c;
  --color-blue-2: #194362;
  --color-grey-1: #737677;
  --color-grey-2: #515454;
  --color-grey-3: #c0c0c0;
  --color-yellow-1: #E3B838;
  --color-beige-1: #d4a57e;
  --color-light-grey-1: #efecee;
}

@layer utilities {
  .container {
    @apply mx-auto px-5 max-w-[940px];

    @variant lg {
      @apply px-0;
    }
  }
}

:root {
  --background: #fbfbfd;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-image: url('/header-bg-2.png');
  @apply absolute top-0 inset-x-0 pb-6 bg-cover z-30;
}

.header__menu {
  @apply flex flex-col lg:flex-row gap-[28px] text-center lg:text-left text-3xl lg:text-base;
}

#menu {
  @apply opacity-0 invisible lg:opacity-100 lg:visible transition duration-150;
}

#menu.active {
  @apply opacity-100 visible;
}

.button-1 {
  @apply inline-block px-5 py-3 bg-blue-1 !text-fog-grey-1 hover:bg-blue-2 transition-colors duration-150;
}

.button-2 {
  @apply inline-block px-5 py-3 bg-blue-2 !text-white hover:bg-blue-1 transition-colors duration-150;
}

a {
  @apply hover:text-yellow-1 transition-colors duration-150;
}

.burger {
  @apply w-[30px] h-[25px] cursor-pointer flex flex-col justify-between lg:hidden transition;
}

.burger span {
  @apply h-[4px] bg-white rounded-[2px];
}

.burger:active span {
    @apply bg-yellow-1;
}

.burger.active span {
    @apply bg-yellow-1;
}

.swiper-slide-bg {
  background: #000000;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%);
  @apply absolute inset-0;
}

.thumbs-block {
  @apply bg-black;
}

.swiper.thumbs-slider .swiper-slide {
  @apply cursor-pointer;
}

.swiper.thumbs-slider .swiper-slide .swiper-slide-bg {
  @apply transition duration-150;
}

.swiper.thumbs-slider .swiper-slide-thumb-active .swiper-slide-bg,
.swiper.thumbs-slider .swiper-slide:hover .swiper-slide-bg {
  @apply opacity-0;
}

.thumbs-block:after {
  content: '';
  background-image: url('/thumbs-panel.jpg');
  @apply block w-full h-[72px] bg-cover;
}

.slider-1 .swiper-pagination {
  @apply !bottom-4;
}

.slider-1 .swiper-pagination .swiper-pagination-bullet {
  @apply !bg-light-grey-1 !w-[10px] !h-[10px];
}

.slider-1 .swiper-button-next,
.slider-1 .swiper-button-prev {
  @apply !text-fog-grey-1 hover:!text-yellow-1 opacity-0 transition duration-300;
}

.slider-1:hover .swiper-button-next,
.slider-1:hover .swiper-button-prev {
  @apply translate-x-0 opacity-100;
}

.section__headline {
  @apply text-xl text-grey-2 mb-2 text-center uppercase;
}

.section__description {
  @apply block relative text-center text-grey-1 max-w-[600px] mx-auto mb-[30px];
}

.section__description:after {
  content: '';
  @apply w-[40px] h-[3px] bg-blue-1 mx-auto table clear-both mt-2;
}

.section__faculties {
  background-image: url('/section-faculties-bg-2.png');
  @apply bg-cover;
}

.section__darked .section__headline {
  @apply text-white;
}

.section__darked .section__description {
  @apply !text-grey-3;
}

.section__darked .section__description:after {
  @apply bg-yellow-1;
}